body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
    background-image: linear-gradient(
        180deg,
        rgb(113, 186, 255) 30%,
        rgb(21, 78, 144) 60%);
    background-size: cover;
    background-attachment: fixed;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(165, 210, 245);
    font-size: 20px;
    cursor: pointer;
}

h1 {
    font-size: 30px;
}

.rocket-images {
    display: flex;
    flex-wrap: wrap;
}

.rocket-images img {
    max-width: 200px;
    margin: 10px;
}